html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* tailwind base is in conflict with and already inclueded in next-ui */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.gradientBG {
  @apply bg-gradient-to-r from-gradientOne via-gradientTwo to-gradientThree
}

.gradientText {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-gradientOne via-gradientTwo to-gradientThree
}

.primaryShadow {
  box-shadow: 0 4px 14px 0 var(--nextui-colors-primaryShadow);
}

.Loader {
  @apply bg-bgGrey animate-pulse
}

/* .Toastify__toast-container {
  z-index: 100001;
} */